:root {
  --color-primario: #333;
  --color-secundario: #ededed;
  --color-bordes: #0ef;
  --color-error: #d93025;
}
/*selectores de etiqueta*/
body, html{
    margin:0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;    
}

.background-wrapper {
    background-image: url('/img/background.png'); /*imagen de fondo*/
    background-size: cover; /*cubrir todo el espacio*/
    background-position: center; /*centrar la imagen*/
  }

/*selectores de clase*/
.container{
    /*dimensiones*/
    max-width: 100%;
    margin: 0 auto; 
    /*comportamiento en grillas*/
    display: grid;
    /*cantidad de columnas y dimensiones*/
    grid-template-columns: repeat(6, 1fr);
    /*cantidad de filas*/
    grid-template-rows: 10vh 75vh 15vh;
    /*dimensiones de las calles*/
    gap: 1vh;
}

/*header y footer*/
.nav, .nav ul{
    /*geometria del contenedor*/
    padding: 0;
    margin: 0;
    /*comportamiento en grillas*/
    display: grid;
    /*cantidad de columnas y dimensiones*/
    grid-template-columns: repeat(6, 1fr);
    /*cantidad de filas*/
    grid-template-rows: 1fr;
    /*columnas que se ocupan*/
    grid-column-start: 1;
    grid-column-end: 7;
    /*valor de caminos verticales*/
    gap: 1vh;
    /*color de fondo*/
    background-color: black;
}

/*menu navegacion header y footer*/
.nav ul li {
    /*geometria del contenedor*/
    padding: 0;
    margin: 0;
    /*comportamiento en flex*/
    display: flex;
    /*elimina el estilo de la lista*/
    list-style: none;
    /*centra horizontalmente los elementos*/
    justify-content: center;
    /* centra verticalmente el elemento */ 
    align-items: center;
}

/*elementos menu header*/
.nav ul li a{
    /*elimina el subrayado de enlace*/
    text-decoration: none;
    color: white;
}

.header {
    /*sombra para el header*/
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  }

.header a:hover {
    /*cambia el color al pasar el mouse*/
    color: var(--color-bordes);
    transition: 0.4s ease;
  }

/*imagen logo del header*/
.logo img {
    height: 2rem; /*ajusta el tamaño del logo*/
    width: auto; /*mantiene la proporción*/
}

header ul li:nth-child(1){
    /*posicionamiento del elemento 1*/
    grid-column: 1;
}
  
  .footer ul {
    display: flex;
    flex-direction: column; /*alinea elementos verticalmente*/
    align-items: center; /*centra los elementos horizontalmente*/
    justify-content: center; /*centra los elementos dentro de la lista verticalmente*/
  }
  
  .footer ul li {
    text-align: center; /*centra el texto*/
    color:white; /*color del texto*/
  }
  
  

footer ul li:nth-child(1){
    /*donde posiciona en el grid?*/
    grid-column: 2; /*es el número de la columna exacta*/
}

